<%-include('includes/header') %>
<body>
    <div class="card m-5"  style="width: 18rem;">
        <img src="https://images.unsplash.com/photo-1593086784152-b060f8109e0c?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8d2ViZGV2ZWxvcGVyfGVufDB8fDB8fHww" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</body>
<%-include('includes/footer') %>